.wrap{
  border: thin lightgray solid;
  border-radius: 1.5em;
}

header{
  font-size: 2.5em;
  text-align: center;
  background-color: rgb(235, 109, 25);
  color: white;
  border-radius: 2em;
}

form>div{
  font-size: 2em;
  margin-top: 1em;
  height: 1.5em;

}

input[type=checkbox]{
  zoom: 2;
}

.two{
  background-color: rgb(235, 109, 25);
}

.btn-primary{
  background-color: rgb(235, 109, 25);
  border: thin rgb(235, 109, 25) solid;
  color: white;
  margin-left: 1em;
  font-size: 0.5em;
}