@import'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css';

.wrap{
  border: thin lightgray solid;
  border-radius: 1.5em;
  transform: translateY(50%);
}

header{
  font-size: 2em;
  text-align: center;
  background-color: rgb(235, 109, 25);
  color: white;
  border-radius: 2em;
}

form>div{
  /* font-size: 2em; */
  margin-top: 1em;
  height: 1.5em;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

input[type=checkbox]{
  zoom: 2;
}

.one{
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.text{
  flex: 0 0 50%;
}

i{
  flex: 0 0 10%;
  color: red;
  font-size: 2em;
  /* border: thin red solid; */
}

.two{
  background-color: rgb(235, 109, 25);
}

.btn-primary{
  background-color: rgb(235, 109, 25);
  border: thin rgb(235, 109, 25) solid;
  border-radius: 0.5em;
  color: white;
  margin-left: 1em;
  font-size: 1em;
}